mat-sidenav {
    // background: rgb(2,0,36);
    // background: linear-gradient(118deg, rgba(2,0,36,1) 0%, rgba(1,36,6,1) 18%, rgba(8,167,98,1) 100%);
    // background: rgb(31, 32, 31);
    background: linear-gradient(135deg, #3A3078, #2A2357);
    width: 230px;
    height: 100%;
}

mat-sidenav-content {
    height: 100vh;

    // background-color: cadetblue;
    // .main {
    //     margin-left: 30px;
    // }
}

mat-toolbar {
    mat-icon {
        // margin-left: 15px;
        color: gray;
    }

    justify-content: space-between;

    .box {
        margin-top: 15px;
    }
}

.user-name {
    // margin-left: auto;
    // padding-right: 16px;
    // font-weight: bold;
    padding: 16px;
    font-size: 1rem;
    font-weight: 500;
    // color: $text-color;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}


// Responsive adjustments
@media (max-width: 600px) {
    mat-sidenav {
        width: 200px;
    }

    .toolbar {
        .mx-auto {
            font-size: 1rem;
        }
    }
}