<div class="container">
  <div class="button-group">
    <button mat-raised-button class="py-4" color="primary" (click)="openFormDialog()">
      Create User
    </button>
    <!-- <button mat-raised-button class="py-4" color="primary" (click)="getAllUsers()">
      Manage User
    </button> -->
  </div>

  <div *ngIf="users.length > 0" class="users-grid">
    <div *ngFor="let user of users" class="users-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title> {{ user.username }}</mat-card-title>
          <mat-card-subtitle><strong>Mobile No :</strong> {{ user.mobileno }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Role :</strong> {{ user.role }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="openFormDialog(user)">
            Edit
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="main-div my-5">
    <div class="button-group">
      <button mat-raised-button class="py-4" color="primary" (click)="currentForm = 'clients'">
        Clients
      </button>
      <button mat-raised-button class="py-4" color="primary" (click)="currentForm = 'villages'">
        Villages
      </button>
      <button mat-raised-button class="py-4" color="primary" (click)="currentForm = 'diseases'">
        Diseases
      </button>
      <button mat-raised-button class="py-4" color="primary" (click)="currentForm = 'medicines'">
        Medicines
      </button>
    </div>
    <hr>
  </div>

  <div class="main-div my-5">
    <div *ngIf="currentForm === 'clients'">
      <div class="button-group">
        <button mat-raised-button class="py-4" color="primary" routerLink="/add_clients">
          Add Clients
        </button>
      </div>
      <div *ngIf="dataLoaded" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource4" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
            <td mat-cell *matCellDef="let row">{{ row.client_id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Client Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.client_name }}</td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Address</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.client_address }}</td>
          </ng-container>
          <ng-container matColumnDef="no_of_villages">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>No. of Villages</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.no_of_villages }}</td>
          </ng-container>
          <ng-container matColumnDef="onboarding_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Onboarding Date</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.onboarding_date }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Action</b>
            </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="editClients(row.client_id)">
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
        </table>
      </div>
    </div>
  </div>

  <div class="main-div my-5">
    <div *ngIf="currentForm === 'villages'">
      <div class="button-group">
        <button mat-raised-button class="py-4" color="primary" routerLink="/add_villages">
          Add Villages
        </button>
      </div>
      <div *ngIf="dataLoaded" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource1" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Main Village Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="client_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Client Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.client_name }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Action</b>
            </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="editVillages(row.id)">
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>
    </div>
  </div>

  <div class="main-div my-5">
    <div *ngIf="currentForm === 'diseases'">
      <div class="button-group">
        <button mat-raised-button class="py-4" color="primary" routerLink="/add_diseases">
          Add Diseases
        </button>
      </div>
      <div *ngIf="dataLoaded" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Disease Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Action</b>
            </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="editDiseases(row.id)">
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>
      </div>
    </div>
  </div>

  <div class="main-div my-5">
    <div *ngIf="currentForm === 'medicines'">
      <div class="button-group">
        <button mat-raised-button class="py-4" color="primary" routerLink="/add_medicines">
          Add Medicines
        </button>
      </div>
      <div *ngIf="dataLoaded" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource3" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Medicine Name</b>
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <b>Action</b>
            </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="editMedicines(row.id)">
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        </table>
      </div>
    </div>
  </div>

</div>

<!-- Dialog Template -->
<ng-template #formDialog>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{
        isEditMode
        ? (userForm.value.role === 'ADMIN' ? 'Edit Admin' : 'Edit User')
        : 'Create User'
        }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="username" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="mobileno" maxlength="10" required />
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="userForm.value.role !== 'ADMIN'">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="DOCTOR">Doctor</mat-option>
            <mat-option value="INVESTOR">Investor</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditMode ? "Update" : "Submit" }}
          </button>
          <button *ngIf="isEditMode" mat-raised-button color="warn" type="button" (click)="deleteUser()">
            Delete
          </button>
        </div> -->
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditMode ? "Update" : "Submit" }}
          </button>
          <button *ngIf="isEditMode && userForm.value.role !== 'ADMIN'" mat-raised-button color="warn" type="button"
            (click)="deleteUser()">
            Delete
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</ng-template>