<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <button mat-raised-button color="primary" class="btn btn-primary w-100"
        (click)="currentForm = 'ncd-eye-screening'">
        Eye Screening Camp
      </button>
    </div>
    <div class="col-md-3">
      <button mat-raised-button color="primary" class="btn btn-primary w-100"
        (click)="currentForm = 'ncd-hb-screening'">
        Village Level HB Screening Camp
      </button>
    </div>
    <div class="col-md-3">
      <button mat-raised-button color="primary" class="btn btn-primary w-100" (click)="currentForm = 'aarogya-camp'">
        Aarogya Dhansampada Camp
      </button>
    </div>
    <div class="col-md-3">
      <button mat-raised-button color="primary" class="btn btn-primary w-100" (click)="currentForm = 'mega-camp'">
        Mega Camp
      </button>
    </div>
  </div>
</div>

<!--   NCD – Eye Screening Camp Form -->
<div class="container-fluid">
  <div *ngIf="currentForm === 'ncd-eye-screening'">
    <div class="form-wrapper">
      <div class="form-content">
        <h2 class="form-heading">NCD – Eye Screening Camp Form</h2>
        <div class="form-group">
          <label for="file-upload">Upload File</label>
          <input id="file-upload" type="file" (change)="onFileChange($event, eyeScreeningForm)" class="form-control" />
        </div>
        <form [formGroup]="eyeScreeningForm" (ngSubmit)="onSubmitEyeScreeningCamp()">
          <div class="form-grid">
            <div class="form-column">
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="client_name">Client Name</label>
                  <select id="client_name" formControlName="client_name" (change)="onCampClientChange($event)"
                    class="form-control">
                    <option value="" disabled selected>Select Client</option>
                    <option *ngFor="let client of clients" [value]="client.client_id">
                      {{ client.client_name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="patientName">Patient Name</label>
                <input id="patientName" type="text" formControlName="name" class="form-control"
                  placeholder="Enter Patient Name" />
              </div>
              <div class="form-group">
                <label for="date">Date </label>
                <input id="date" type="date" formControlName="date" class="form-control"
                  (change)="onDateChange($event)" />
              </div>
              <div class="form-group">
                <label for="month">Month</label>
                <input id="month" type="text" formControlName="month" class="form-control" placeholder="Month"
                  readonly />
              </div>
              <div class="form-group">
                <label for="year">Year</label>
                <input id="year" type="text" formControlName="year" class="form-control" placeholder="Year" readonly />
              </div>
            </div>
            <div class="form-column">
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="mainVillage">Site Name</label>
                  <select id="mainVillage" (change)="onMainVillageChange($event)" formControlName="village"
                    class="form-control">
                    <option value="" disabled selected>
                      Select Site Name
                    </option>
                    <option *ngFor="let village of FilteredVillages" [value]="village.id">
                      {{ village.name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group" *ngIf="subVillages.length > 0">
                <div class="dropdown-with-arrow">
                  <label for="subVillage">Village Name</label>
                  <div class="arrow-down"></div>
                  <select id="subVillage" formControlName="subvillage" class="form-control">
                    <option value="" disabled selected>
                      Select Village Name
                    </option>
                    <option *ngFor="let subVillage of subVillages" [value]="subVillage">
                      {{ subVillage }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="contactNo">Contact No.</label>
                <input id="contactNo" type="text" formControlName="contact" class="form-control"
                  placeholder="Enter Contact No." />
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <div class="radio-group my-4">
                  <label class="radio-label">
                    <input type="radio" formControlName="gender" value="M" />
                    <span>Male</span>
                  </label>
                  <label class="radio-label">
                    <input type="radio" formControlName="gender" value="F" />
                    <span>Female</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="age">Age </label>
                <input id="age" type="number" formControlName="age" class="form-control" placeholder="Enter Age" />
              </div>
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="code">Unique Code</label>
                  <select formControlName="code" (change)="onUniqueCodeChange($event)" class="form-control">
                    <option value="">Select Unique Code</option>
                    <option value="No Fit">No Fit</option>
                    <option value="Correction">Correction</option>
                    <option value="Healthy">Healthy</option>
                    <option value="Impairment">Impairment</option>
                    <option value="Dryness">Dryness</option>
                    <option value="White Part">White Part</option>
                    <option value="Operation Done">Operation Done</option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="Description">Eye Diseases </label>
                <textarea class="form-control" formControlName="Description" id="Description" rows="2" cols="30"
                  placeholder="Eye Diseases Description" readonly></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Opinion">Opinion</label>
            <input id="Opinion" type="text" formControlName="Opinion" class="form-control"
              placeholder="Enter Opinion" />
          </div>
          <div class="text-center mt-3">
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- NCD – Village Level HB Screening Camp Form -->
<div class="container-fluid">
  <div *ngIf="currentForm === 'ncd-hb-screening'">
    <div class="form-wrapper">
      <div class="form-content">
        <h2 class="form-heading">NCD – Village Level HB Screening Camp Form</h2>
        <div class="form-group">
          <label for="file-upload">Upload File</label>
          <input id="file-upload" type="file" (change)="onFileChange($event, hbScreeningForm)" class="form-control" />
        </div>
        <form [formGroup]="hbScreeningForm" (ngSubmit)="onSubmitHBScreening()">
          <div class="form-grid">
            <div class="form-column">
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="client_name">Client Name</label>
                  <select id="client_name" formControlName="client_name" class="form-control"
                    (change)="onCampClientChange($event)">
                    <option value="" disabled selected>Select Client</option>
                    <option *ngFor="let client of clients" [value]="client.client_id">
                      {{ client.client_name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="patientName">Patient Name</label>
                <input id="patientName" type="text" formControlName="name" class="form-control"
                  placeholder="Enter Patient Name" />
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input id="date" type="date" formControlName="date" class="form-control"
                  (change)="onDateChange($event)" />
              </div>
              <div class="form-group">
                <label for="month">Month</label>
                <input id="month" type="text" formControlName="month" class="form-control" placeholder="Month"
                  readonly />
              </div>
              <div class="form-group">
                <label for="year">Year</label>
                <input id="year" type="text" formControlName="year" class="form-control" placeholder="Year" readonly />
              </div>
            </div>
            <div class="form-column">
              <div class="form-group">
                <label for="gender">Gender</label>
                <div class="radio-group my-4">
                  <label class="radio-label">
                    <input type="radio" formControlName="gender" value="M" />
                    <span>Male</span>
                  </label>
                  <label class="radio-label">
                    <input type="radio" formControlName="gender" value="F" />
                    <span>Female</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input id="age" type="number" formControlName="age" class="form-control" placeholder="Enter Age" />
              </div>
              <div class="form-group">
                <label for="contactNo">Contact No.</label>
                <input id="contactNo" type="text" formControlName="contact" class="form-control"
                  placeholder="Enter Contact No." />
              </div>
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="mainVillage">Site Name</label>
                  <select id="mainVillage" (change)="onMainVillageChange($event)" formControlName="village"
                    class="form-control">
                    <option value="" disabled selected>
                      Select Site Name
                    </option>
                    <option *ngFor="let village of FilteredVillages" [value]="village.id">
                      {{ village.name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group" *ngIf="subVillages.length > 0">
                <div class="dropdown-with-arrow">
                  <label for="subVillage">Village Name</label>
                  <div class="arrow-down"></div>
                  <select id="subVillage" formControlName="subvillage" class="form-control">
                    <option value="" disabled selected>
                      Select Village Name
                    </option>
                    <option *ngFor="let subVillage of subVillages" [value]="subVillage">
                      {{ subVillage }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="HB">HB (Hemoglobin)</label>
                <input id="HB" type="number" formControlName="HB" class="form-control"
                  placeholder="Enter Hemoglobin Level" (input)="onHBChange()" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="HBReadings">HB Readings</label>
            <input id="HBReadings" type="text" formControlName="HBReadings" class="form-control"
              placeholder="HB Readings" readonly />
          </div>
          <div class="text-center mt-3">
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--  Aarogya Dhansampada Camp Form -->
<div class="container-fluid">
  <div *ngIf="currentForm === 'aarogya-camp'">
    <div class="form-wrapper">
      <div class="form-content">
        <h2 class="form-heading text-center">Aarogya Dhansampada Camp Form</h2>
        <div class="form-group">
          <label for="file-upload">Upload File</label>
          <input id="file-upload" type="file" (change)="onFileChange($event, aarogyaCampForm)" class="form-control" />
        </div>
        <form [formGroup]="aarogyaCampForm" (ngSubmit)="onSubmitAarogyaCamp()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="client_name">Client Name</label>
                  <select id="client_name" formControlName="client_name" class="form-control"
                    (change)="onCampClientChange($event)">
                    <option value="" disabled selected>Select Client</option>
                    <option *ngFor="let client of clients" [value]="client.client_id">
                      {{ client.client_name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="patientName">Patient Name</label>
                <input id="patientName" type="text" formControlName="name" class="form-control"
                  placeholder="Enter Patient Name" />
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input id="date" type="date" formControlName="date" class="form-control"
                  (change)="onDateChange($event)" />
              </div>
              <div class="form-group">
                <label for="month">Month</label>
                <input id="month" type="text" formControlName="month" class="form-control" placeholder="Month"
                  readonly />
              </div>
              <div class="form-group">
                <label for="year">Year</label>
                <input id="year" type="text" formControlName="year" class="form-control" placeholder="Year" readonly />
              </div>
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="mainVillage">Site Name</label>
                  <select id="mainVillage" formControlName="village" class="form-control"
                    (change)="onMainVillageChange($event)">
                    <option value="" disabled selected>
                      Select Site Name
                    </option>
                    <option *ngFor="let village of FilteredVillages" [value]="village.id">
                      {{ village.name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group" *ngIf="villageName.length > 0">
                <div class="dropdown-with-arrow">
                  <label for="subVillage">Village Name</label>
                  <select id="subVillage" formControlName="villageName" class="form-control">
                    <option value="" disabled selected>
                      Select Village Name
                    </option>
                    <option *ngFor="let subVillage of subVillages" [value]="subVillage">
                      {{ subVillage }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="age">Age</label>
                <input id="age" type="number" formControlName="age" class="form-control" placeholder="Enter Age" />
              </div>
              <div class="form-group">
                <label for="contactNo">Contact No.</label>
                <input id="contactNo" type="text" formControlName="contact" class="form-control"
                  placeholder="Enter Contact No." />
              </div>
              <div class="form-group">
                <label for="standard">Standard</label>
                <input id="standard" type="text" formControlName="standard" class="form-control"
                  placeholder="Enter Standard" />
              </div>
              <div class="form-group">
                <label for="weight">Weight (kg)</label>
                <input id="weight" type="number" formControlName="weight" class="form-control"
                  placeholder="Enter Weight" />
              </div>
              <div class="form-group">
                <label for="height">Height (cm)</label>
                <input id="height" type="number" formControlName="height" class="form-control"
                  placeholder="Enter Height" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="BMI">BMI</label>
                <input id="BMI" type="number" formControlName="BMI" class="form-control" placeholder="BMI" readonly />
              </div>
              <div class="form-group">
                <label for="BMIReadings">BMI Status</label>
                <input id="BMIReadings" type="text" formControlName="BMIReadings" class="form-control"
                  placeholder="BMI Readings" readonly />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="HB">HB (Hemoglobin)</label>
                <input id="HB" type="number" formControlName="HB" class="form-control"
                  placeholder="Enter Hemoglobin Level" (input)="onHBChangeAarogyaCamp()" />
              </div>
              <div class="form-group">
                <label for="HBReadings">HB Readings</label>
                <input id="HBReadings" type="text" formControlName="HBReadings" class="form-control"
                  placeholder="HB Readings" readonly />
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Mega Camp Form -->
<div class="container-fluid">
  <div *ngIf="currentForm === 'mega-camp'">
    <div class="form-wrapper">
      <div class="form-content">
        <h2 class="form-heading">Mega Camp Form</h2>
        <div class="form-group">
          <label for="file-upload">Upload File</label>
          <input id="file-upload" type="file" (change)="onFileChange($event, megaCampForm)" class="form-control" />
        </div>
        <form [formGroup]="megaCampForm" (ngSubmit)="onSubmitMegaCamp()">
          <div class="form-grid">
            <div class="form-column">
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="client_name">Client Name</label>
                  <select id="client_name" formControlName="client_name" class="form-control"
                    (change)="onCampClientChange($event)">
                    <option value="" disabled selected>Select Client</option>
                    <option *ngFor="let client of clients" [value]="client.client_id">
                      {{ client.client_name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="patientName">Patient Name</label>
                <input id="patientName" type="text" formControlName="name" class="form-control"
                  placeholder="Enter Patient Name" />
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input id="date" type="date" formControlName="date" class="form-control"
                  (change)="onDateChange($event)" />
              </div>
              <div class="form-group">
                <label for="day">Day</label>
                <input id="day" type="text" formControlName="day" class="form-control" placeholder="Day" readonly />
              </div>
              <div class="form-group">
                <label for="month">Month</label>
                <input id="month" type="text" formControlName="month" class="form-control" placeholder="Month"
                  readonly />
              </div>
              <div class="form-group">
                <label for="year">Year</label>
                <input id="year" type="text" formControlName="year" class="form-control" placeholder="Year" readonly />
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <div class="radio-group my-4">
                  <label class="radio-label">
                    <input type="radio" formControlName="gender" value="Male" />
                    <span>Male</span>
                  </label>
                  <label class="radio-label">
                    <input type="radio" formControlName="gender" value="Female" />
                    <span>Female</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input id="age" type="number" formControlName="age" class="form-control" placeholder="Enter Age" />
              </div>
              <div class="form-group">
                <label for="contactNo">Contact No.</label>
                <input id="contactNo" type="text" formControlName="contact" class="form-control"
                  placeholder="Enter Contact No." />
              </div>
            </div>
            <div class="form-column">
              <div class="form-group">
                <div class="dropdown-with-arrow">
                  <label for="mainVillage">Site Name</label>
                  <select id="mainVillage" formControlName="village" class="form-control"
                    (change)="onMainVillageChange($event)">
                    <option value="" disabled selected>
                      Select Site Name
                    </option>
                    <option *ngFor="let village of FilteredVillages" [value]="village.id">
                      {{ village.name }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group" *ngIf="villageName.length > 0">
                <div class="dropdown-with-arrow">
                  <label for="subVillage">Village Name</label>
                  <select id="subVillage" formControlName="villagename" class="form-control">
                    <option value="" disabled selected>
                      Select Village Name
                    </option>
                    <option *ngFor="let subVillage of subVillages" [value]="subVillage">
                      {{ subVillage }}
                    </option>
                  </select>
                  <div class="arrow-down"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="Weight">Weight</label>
                <input id="Weight" type="text" formControlName="weight" class="form-control"
                  placeholder="Enter Weight" />
              </div>
              <div class="form-group">
                <label for="Height">Height</label>
                <input id="Height" type="text" formControlName="height" class="form-control"
                  placeholder="Enter Height" />
              </div>
              <div class="form-group">
                <label for="BP">BP</label>
                <input id="BP" type="text" formControlName="bp" class="form-control" placeholder="Enter BP" />
              </div>
              <div class="form-group">
                <label for="Pulse">Pulse</label>
                <input id="Pulse" type="text" formControlName="pulse" class="form-control" placeholder="Enter Pulse" />
              </div>
              <div class="form-group">
                <label for="Temperature">Temperature</label>
                <input id="Temperature" type="text" formControlName="temperature" class="form-control"
                  placeholder="Enter Temperature" />
              </div>
              <div class="form-group">
                <label for="BloodTest">Blood Test</label>
                <input id="BloodTest" type="text" formControlName="bloodtest" class="form-control"
                  placeholder="Enter BloodTest" />
              </div>
              <div class="form-group">
                <label for="hb">HB</label>
                <input id="hb" type="text" formControlName="hb" class="form-control" placeholder="Enter HB" />
              </div>
              <div class="form-group">
                <label for="X-RAY">X-RAY</label>
                <input id="X-RAY" type="text" formControlName="xray" class="form-control" placeholder="Enter X-RAY" />
              </div>
            </div>
          </div>
          <div class="form-grid">
            <div class="form-column">
              <div class="form-group">
                <label for="ECG">ECG</label>
                <input id="ECG" type="text" formControlName="ecg" class="form-control" placeholder="Enter ECG" />
              </div>
              <div class="form-group">
                <label for="EyeTest">Eye Test</label>
                <input id="EyeTest" type="text" formControlName="eyetest" class="form-control"
                  placeholder="Enter Eye Test" />
              </div>
              <div class="form-group">
                <label for="Audiometry">Audiometry</label>
                <input id="Audiometry" type="text" formControlName="audiometry" class="form-control"
                  placeholder="Enter Audiometry" />
              </div>
              <div class="form-group">
                <label for="Spirometry">Spirometry</label>
                <input id="Spirometry" type="text" formControlName="spirometry" class="form-control"
                  placeholder="Enter Spirometry" />
              </div>
            </div>
            <div class="form-column">
              <div class="form-group">
                <label for="breastCancer">Breast Screening Test</label>
                <input id="breastCancer" type="text" formControlName="breastcancer" class="form-control"
                  placeholder="Enter Breast Screening Test" />
              </div>
              <div class="form-group">
                <label for="cervicalCancer">Cervical / Gynea Screening Test</label>
                <input id="cervicalCancer" type="text" formControlName="cervicalcancer" class="form-control"
                  placeholder="Enter Cervical / Gynea Screening Test" />
              </div>
              <div class="form-group">
                <label for="oralCancer">Oral Screening Test</label>
                <input id="oralCancer" type="text" formControlName="oralcancer" class="form-control"
                  placeholder="Enter Oral Screening Test" />
              </div>
              <div class="form-group">
                <label for="tb">TB Screening Test</label>
                <input id="tb" type="text" formControlName="tb" class="form-control"
                  placeholder="Enter TB Screening Test" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" class="form-control" rows="4"
              placeholder="Enter description"></textarea>
          </div>
          <div class="text-center mt-3">
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>