@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

mat-icon {
    color: white;
    font-family: "Material Icons";
    vertical-align: middle;
    text-align: center;
}

.user {
    text-align: center;
    font-weight: 800;
    // margin-bottom: 2px;

    img {
        margin-top: 16px;
        width: 150px;
        // height: 120px;
    }

    .name {
        color: white;
    }

    .mail {
        margin-top: -16px;
        color: #8997ac;
    }
}

.menu-head {
    color: #adb4cc;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    // margin-left: 40px;
    margin-bottom: 20px;
}

.menu-item {
    margin: 0 10px 0 10px;

    .menu-button {
        display: block;
        width: 100%;
        position: relative;
        display: flex;
        padding-left: 10px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .menu-button span {
        margin-left: 20px;
        color: white;
    }

    .menu-button:hover {
        // background-color: #E31E25;
        background: #333333;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #dd1818, #333333);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #dd1818, #333333);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }

    .menu-button:focus {
        // background-color: #050223;
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.active {
    // background-color: #050223;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}