<div class="navbar">
  <div class="user mx-auto">
    <img
      src=".../../../assets/img/kolumbusLogo.jpeg"
      alt="E-प्रचार"
      width="150px"
    />
    <h4 class="name pt-4 text-center">
      {{
        role === "ADMIN"
          ? "ADMIN"
          : role === "DOCTOR"
          ? "DOCTOR"
          : role === "INVESTER"
          ? "INVESTER"
          : role === "CPR_ACCOUNTENT"
          ? "ACCOUNTENT"
          : role === "ADMIN"
          ? "ADMIN"
          : "USER"
      }}
    </h4>
    <!-- <div class="name">
      <h3 class="welcome-text">Welcome</h3>
      <p *ngIf="username">{{ username }}</p>
    </div> -->
    <!-- <p class="mail">admin@gmail.com</p> src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_960_720.png"-->
  </div>
  <div class="menu mx-auto">
    <div class="menu-head text-center">
      <span>Dashboard</span>
    </div>
    <div class="menu-item">
      <!-- <button mat-button class="menu-button" [routerLinkActive]="['active']" [routerLink]="['dashboard']">
                  <mat-icon>dashboard</mat-icon>
                  <span>Home</span>
              </button> -->
      <!-- *ngIf="isLoggedIn && isAdmin" -->

      <button
        mat-button
        *ngIf="role === 'ADMIN'"
        class="menu-button"
        [routerLinkActive]="['active']"
        [routerLink]="['/create_role']"
      >
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
      <button
        mat-button
        *ngIf="role === 'DOCTOR' || 'INVESTER'"
        class="menu-button"
        [routerLinkActive]="['active']"
        [routerLink]="['/patient_info_form']"
      >
        <mat-icon>assignment</mat-icon>
        <span>Patient Form</span>
      </button>
      <button
        mat-button
        class="menu-button"
        [routerLinkActive]="['active']"
        (click)="downloadExcelReport()"
      >
        <mat-icon>download</mat-icon>
        <span>Report</span>
      </button>
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
              
      </button>
    </div>
  </div>
</div>
