<div class="navbar">
  <div class="user mx-auto">
    <img src=".../../../assets/img/kolumbusLogo.jpeg" alt="Image" width="150px" />
    <h4 class="name pt-4 text-center">
      {{
      role === "ADMIN"
      ? "ADMIN"
      : role === "DOCTOR"
      ? "DOCTOR"
      : role === "INVESTER"
      ? "INVESTER"
      : "USER"
      }}
    </h4>
  </div>
  <div class="menu mx-auto">
    <div class="menu-head text-center">
      <span>Dashboard</span>
    </div>
    <div class="menu-item">
      <button mat-button *ngIf="ADMIN" class="menu-button" [routerLinkActive]="['active']"
        [routerLink]="['/create_role']">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
      <button mat-button *ngIf="ADMIN || DOCTOR" class="menu-button" [routerLinkActive]="['active']"
        [routerLink]="['/patient_info_form']">
        <mat-icon>assignment</mat-icon>
        <span>Patient Form</span>
      </button>
      <button mat-button *ngIf="ADMIN || DOCTOR" class="menu-button" [routerLinkActive]="['active']"
        [routerLink]="['/all_patient_info']">
        <mat-icon>people</mat-icon>
        <span>All Patients</span>
      </button>
      <button mat-button *ngIf="ADMIN || INVESTER" class="menu-button" [routerLinkActive]="['active']"
        (click)="downloadExcelReport()">
        <mat-icon>download</mat-icon>
        <span>Patients Report</span>
      </button>
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</div>